body {
	background-image: url('../image/02.jpg');
	background-attachment: fixed;
}

* {
	margin: 0;
	font-family: 微軟正黑體;
	margin: auto;
}

.mainbody {
	border: 2px solid black;
	background: rgba(128, 128, 128, 0.6);
	margin-top: 20px;
	border-width: medium;
	margin: auto;
	border-radius: 20px
}

div {
	margin: 10px;
	margin-left: 15px;
}